@model TaskApp.Models.EmployeesInView

@{
    ViewBag.Title = "YourPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    var fName = Model.EmployeesForView[0].FirstName;
    var lName = Model.EmployeesForView[0].LastName;
}

<h2>@Model.EmployeesForView[0].FirstName @Model.EmployeesForView[0].LastName</h2><br />

@if (!String.IsNullOrEmpty(Model.EmployeesForView[0].TaskName))
{

    <table id="employee" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Task</th>
                <th>Hours</th>
                <th>Project</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model.EmployeesForView)
            {
                <tr>
                    <td>@e.TaskName @e.Description</td>
                    <td>@e.NumberOfHours</td>
                    <td>@e.ProjectName</td>
                </tr>
            }
        </tbody>
    </table>

    <button onclick="DownloadExcel()" class="btn btn-primary">Export to Excel</button>
}
else
{
    <h3>No tasks</h3>
}

@section Scripts
{
    <script>
        function DownloadExcel() {
            $.ajax({
                type: "POST",
                url: "ExcelExport",
                @*data: {
                    'fName': @fName,
                    'lName': @lName
                },*@
                cache: false,
                success: function (data) {
                    window.location = 'Download';
                },
                error: function (data) {
                    console.log("nu");
                    Materialize.toast("Something went wrong. ", 3000, 'rounded');
                }
            });
        }
    </script>
}

